<%- include ("partials/header")%>

<h1>
	You really dislike <%= thingVar.toUpperCase() %> !!! LIKE A LOT!!!!!1
</h1>

<%    if(thingVar === "computers") { %>
<p>
	Doubt it...
</p>
<% } %>

<%- include ("partials/footer")%>